body {
    background-color: rgb(15, 15, 16);
}
.container {
    margin: auto;
    height: 770px;
    width: 400px;
    border-radius: 40px;
    border: 2px solid aqua;
    box-shadow:  0 0 2px #fff,   /* Small inner glow */
    0 0 3px #fff,  /* Medium inner glow */
    0 0 5px #0ff,  /* Large inner glow */
    0 0 8px #0ff,  /* Larger outer glow */
    0 0 15px #0ff;  /* Largest outer glow */ ;
}